{% extends 'layout.html.twig' %}

{% block content %}

{% include 'partials/spotlight.html.twig' %}

<div class="labels-bar">
	<div class="grid">
		
		<div class="grid__item  one-fifth  portable-one-whole">
			<div class="labels-bar__header">
				<h2>artists</h2>
				<h3>filter by label</h3>
			</div>
		</div><!--

		--><div class="grid__item  four-fifths  portable-one-whole">
			<div class="labels-bar__labels-grid">
					
					{% for label in app.labels %}<div class="labels-grid__label">
						<a class="btn  img-btn  img-btn--label" href="#" data-toggle="label-filter" data-label-slug="{{ label.slug }}">
							<img src="{{ app.base_url }}/img/label/{{ label.slug }}.{{ label.picture_ext }}"/>
							<div class="caption">
								<div class="caption__backdrop"></div>
								<div class="caption__content">{{ label.name|raw }}</div>
							</div>
						</a>
					</div>{% endfor %}

			</div>
		</div><!--

	 --><div class="labels-bar__border"><div></div></div>

	</div>
</div>


<div class="artists-grid">

		{% for artist in app.artists %}<div class="artists-grid__artist">
			<a class="btn  img-btn  img-btn--artist" href="{{ app.base_url }}/{{ artist.slug }}" data-label-slug="{% if artist.labels is defined %}{% for label in artist.labels %}{{ label.slug }}{% if loop.last != true %}|{% endif %}{% endfor %}{% endif %}">
				<img src="{{ artist.picture_url }}"/>
				<div class="caption">
					<div class="caption__backdrop"></div>
					<div class="caption__content">{{ artist.name|raw }}</div>
				</div>
			</a>
		</div>{% endfor %}

</div>

{% endblock %}