{% extends 'dobis-layout.html.twig' %}
{% block content %}
<div class="artists-grid  artists-grid--dobis">
		<div class="artists-grid__artist  artists-grid__artist--add">
			<a class="btn  img-btn" href="{{ app.base_url }}/dobismaster/artists/new">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="class="img-btn__img">
				<i class="icon" data-icon="&#xF055"></i>
			</a>
		</div><!--

	-->{% for artist in app.artists %}<div class="artists-grid__artist">
			<a class="btn  img-btn  img-btn--artist" href="{{ app.base_url }}/dobismaster/artists/{{ artist.slug }}">
				<img class="img-btn__img" src="{{ artist.picture_url }}"/>
				<div class="caption">
					<div class="caption__backdrop"></div>
					<div class="caption__content">{{ artist.name|raw }}</div>
				</div>
			</a>
		</div>{% endfor %}

</div>

{% endblock content %}